.Home {
    margin: auto;
    height: 50%;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home h1 {
     text-align: center;
     color: white;
     font-size: 50px;
     margin: 20px;
 }

.Home img {
    width: 20%;
    align-self: center;
    cursor: pointer;
}
